<configuration>

  <property
    name="console_pattern"
    value="%white(%d{HH:mm:ss.SSS}) %highlight(%-5p) %magenta([%-20.20t]) user=[%X{requestUser}] request=[%X{requestId}] %cyan(%-30c{30}) | %m%n"/>

  <!-- LOCAL DEV LOGGING -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <Pattern>${console_pattern}</Pattern>
    </encoder>
  </appender>

  <appender name="CLOUDWATCH" class="io.micronaut.aws.cloudwatch.logging.CloudWatchLoggingAppender">
    <appender-ref ref="STDOUT"/>
    <!-- <blackListLoggerName>example.app.Application</blackListLoggerName> -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
        <jsonFormatter class="io.micronaut.aws.cloudwatch.logging.CloudWatchJsonFormatter" />
      </layout>
    </encoder>
    <!-- <groupName>customGroupName</groupName> -->
    <!-- <streamName>customStreamName</streamName> -->
    <!-- <createGroupAndStream>true</createGroupAndStream> -->
  </appender>

  <!-- Enable DEBUG logs for Micronaut AWS Secrets Manager -->
  <logger name="io.micronaut.aws.distributedconfiguration" level="INFO"/>
  <logger name="io.micronaut.aws.secretsmanager" level="INFO"/>

  <logger name="io.micronaut" level="INFO" />

  <root level="INFO">
<!--    <appender-ref ref="CLOUDWATCH" />-->
    <!--  for local development -->
        <appender-ref ref="CONSOLE"/>

  </root>

</configuration>
